h2 {
  text-align: center;
}

.counties {
  fill: none;
}

.states {
  stroke: white;
  stroke-linejoin: round;
  opacity: 0.8;
  fill: #afd4d8;
}

.countcircle {
  fill: #f79d74;
  stroke: #f48553;
  opacity: 0.8;
}

.selected-state {
  stroke-width: 4px;
  stroke-linejoin: round;
  opacity: 1;
}

.d3-tip span {
  /*color: #ff00c7;*/
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

.paths {
  fill: white;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 1200px;
  height: 900px;
  background-color: white;lightgrey;
}

#right-column {
  background-color: white;
  width: 400px;
  height: 300px;
  margin: 10px;
  padding: 20px;
}

#left-column {
  background-color: white;
  margin: 10px;
  padding: 20px;
  text-align: center;
}

#bezirk-title {
  text-align: center;
}

#nameBox {
  margin: auto;
}

.chart div {
  background-color: steelblue;
  padding: 5px;
  margin: 2px;
  margin-top: 2px;
  color: white;
}

.tableheader {
  font-size: 18px;
}
